@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
$font: "Press Start 2P", cursive;
$colors: (
  "black": #000,
  "selected": #ffffff,
  "no-selected": #5e5c5d,
);
$text-size: (
  "small": 1em,
  "subtitle": 2em,
  "title": 3em,
);
$gradients: (
  "vino":
    linear-gradient(0deg, rgba(121, 58, 81, 1) 0%, rgba(42, 22, 29, 1) 100%),
  "bg":
    linear-gradient(
      90deg,
      rgba(36, 15, 23, 1) 0%,
      rgb(37, 14, 29) 50%,
      rgb(28, 4, 14) 100%
    ),
);
