@import "_reset", "_mixins", "_settings";

* {
  font-family: $font;
}

body {
  width: 100%;

  @include flex(flex, column, nowrap, normal, center);
  background: map-get($gradients, "bg");
  height: 100vh;
}
.main {
  max-width: 1500px;
  height: 100%;
  width: 100%;
  background: map-get($gradients, "bg");
}
.seleccion {
  height: 100%;
  &__wrapper {
    height: 100%;
    width: 100%;
    padding: 4em;
    @include flex(flex, column, nowrap, space-around, center);
  }
  &__h2 {
    text-align: center;
    font-size: map-get($text-size, "subtitle");
    line-height: 1em;
    -webkit-text-stroke: 2px rgba(121, 58, 81, 1);
    color: map-get($colors, "selected");
  }
  &__h3 {
    text-align: center;
    font-size: map-get($text-size, "small");
    line-height: 1em;

    color: map-get($colors, "no-selected");
  }
  &__players {
    @include flex(flex, row, nowrap, center, center);
    gap: 1em;
  }
  &__a {
    @include flex(flex, column, nowrap, center, center);
    color: map-get($colors, "no-selected");
    transition: 0.5s;
    @include flex(flex, column, nowrap, center, center);
    gap: 2em;
    filter: brightness(50%);
  }
  &__a:hover {
    transform: translateY(-2%);
    color: map-get($colors, "selected");
    filter: brightness(100%);
  }
}
.player {
  &__img {
    width: calc(600px / 2);
    height: 300px;
    background-image: url("/img/3.png");
    animation: animate 1s steps(2) infinite;
  }
  @keyframes animate {
    from {
      background-position: 0;
    }
    to {
      background-position: -600px;
    }
  }
  &__ability,
  &__title {
    text-transform: capitalize;
  }
}
